<!-- templates/item_list.html -->

{% extends 'base.html' %}
{% block content %}
  <h1>Item List</h1>
  <a href="{% url 'item_create' %}">Add Item</a>

  {% for item in items %}
    <div class="item">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
      <p>Price: ${{ item.price }}</p>
      {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.name }} image">
      {% endif %}
      <p><a href="{% url 'item_edit' item.pk %}">Edit</a> | <a href="{% url 'item_delete' item.pk %}">Delete</a></p>
    </div>
  {% endfor %}
{% endblock %}